.form-control {
    transition: none; /* Disable hover transition */
}

.form-control:focus {
    box-shadow: none; /* Remove focus shadow */
    border-color: #80bdff; /* Change border color on focus */
}

.search-container .btn {
    color: #117b8bd4; /* Change icon color */

}

.search-container .btn:hover {
    color: #117b8bd4; /* Prevent hover effect on button */
}

.search-container .form-inline {
    position: relative;
}

.search-container{
    #searchButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}
}