/* footer.css */

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "Tinos", serif;
    font-weight: 400;
}
.container-fluid.bg-secondary {
    background-color: #343a40;
    color: #fff;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand {
    font-size: 40px;
    line-height: 40px;
}

.navbar-brand img {
    width: 80px;
}

.footer-links a {
    color: #fff;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.footer-links a i {
    margin-right: 0.5rem;
}

.container-fluid.pt-5 {
    border-top: 1px solid rgba(23, 162, 184, .2);
}

.footer-social .btn {
    width: 38px;
    height: 38px;
    margin-right: 0.5rem;
}
