/* Styling for the pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .popuplogo{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
  }

  .popup-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .popup-right {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  .popup h1 {
    font-size: 32px;
    color: #1E90FF;
    margin-bottom: 10px;
  }

  .h2{
    font-size: 20px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }

  p {
    margin-bottom: 20px;
    color: #555;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    font-size: 14px;
  }

  .signup-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .signup-btn:hover {
    background-color: #4682B4;
  }

  .no-thanks {
    display: block;
    margin-top: 15px;
    color: #888;
    text-decoration: none;
  }

  .no-thanks:hover {
    color: #555;
  }

  .terms {
    margin-top: 15px;
    font-size: 10px;
    color: #888;
  }

  .terms a {
    color: #1E90FF;
  }