/* Product Page Styles */
.add-to-cart-btn {
	border-radius: 1.5rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-size: 1.1rem;
	padding: 0.5rem 1.5rem;
	margin: 0 auto;
	width: 100%;
}
.product-card {
	background-color: #adb5bd;
}
.product-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 180px; /* Set the height you want */
	padding: 20px;
}
.product-title {
	font-family: Nunito, sans-serif;
	font-weight: 600;
	margin: 0;
}
.product-category {
	font-family: Nunito, sans-serif;
	font-size: 0.9rem;
	color: gray;
	margin: 0;
}
.product-shop {
	color: #000203;
	font-family: Nunito, sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0;
}
.product-price {
	font-family: Nunito, sans-serif;
	font-size: 1.5rem;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
#end-message p {
	display: block;
}
@media (max-width: 576px) {
	.product-title {
		font-size: 1.1rem;
	}
	.product-category {
		font-size: 0.9rem;
	}
	.product-price {
		font-size: 1.2rem;
	}
}

/* Product page Search bar styles */
.search-input-group {
	max-width: 600px;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
}
.search-form-control {
	border-radius: 30px 0 0 30px;
	border: 2px solid #17a2b8;
	padding: 22px 24px;
	font-size: 16px;
	transition: all 0.3s ease;
}
.search-form-control:focus {
	outline: none;
	box-shadow: 0 0 5px #17a2b850;
	border-color: #17a2b8;
}
.search-input-group-append .btn {
	border-radius: 0 30px 30px 0;
	background-color: #17a2b8;
	border: 2px solid #17a2b8;
	padding: 10px 25px;
	transition: all 0.3s ease;
}
.search-input-group-append .btn:hover {
	background-color: #117a8b;
	border-color: #117a8b;
}
.search-input-group-append .btn i {
	font-size: 14px;
	color: #fff;
}

@media (max-width: 768px) {
	.search-input-group {
		max-width: 100%;
	}
	.search-form-control {
		font-size: 14px;
	}
	.search-input-group-append .btn {
		padding: 10px;
	}
	.search-input-group-append .btn i {
		font-size: 16px;
	}
}

@media (max-width: 576px) {
	.search-form-control {
		padding: 8px 15px;
		font-size: 14px;
	}
	.search-input-group-append .btn {
		padding: 4px 15px;
	}
}

.notification {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #138496;
	color: white;
	padding: 15px 50px;
	border-radius: 50px;
	font-size: 16px;
	display: none;
}
