/* Product Page Styles */
.add-to-cart-btn {
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  width: 100%; /* Full width */
}

.product-card {
  background-color: #dbdbdb2f; /* Initial background color with transparency */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px; /* Optional: adds rounded corners */
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s; /* Smooth transitions */
}

/* Hover effect */
.product-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.134); /* Default shadow */
  transform: scale(1.01);
}


.product-content {
  display: flex;
  flex-direction: column; /* Change to column for vertical stacking */
  align-items: center; /* Center the content */
  height: auto; /* Set the height you want */
  padding: 2px;
}

.product-title {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  margin: 0;
}

.product-category {
  font-family: Nunito, sans-serif;
  font-size: 0.9rem;
  color: gray;
  margin: 0;
}

.product-shop {
  color: #000203;
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.product-price {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0; /* Add margin for spacing */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#end-message p {
  display: block;
}

.card-img-top {
  height: 300px;
  width: 280px;
  cursor: pointer;
  background-size: cover;
}

.col-8 {
  gap: 0px;
}
.save-for-later-icon {
  transition: all 0.1s ease-in; /* Smooth transition for hover effects */
  display: inline-flex; /* Keeps icon and button aligned */
  align-items: center; /* Centers the icon vertically */
}

.save-for-later-icon:hover {
  /* Adding a subtle effect without changing layout */
  transform: scale(1.1); /* Slightly enlarges the icon */
  color: #117b8bd4; /* Change color on hover */
}

.save-for-later-btn {
  margin-left: 0.2rem;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  padding: 0.1rem 0.7rem; /* Adjust padding for the button */
  width: auto; /* Adjust width for better look */
  display: inline-flex; /* Keeps button and icon aligned */
  align-items: center; /* Centers the button text vertically */
  position: relative; /* Maintain positioning */
}



  @media (max-width:576px){
    .product-title{
      font-size: 1.1rem;
    }
    .product-category{
      font-size: 0.9rem;
    }
    .product-price{
      font-size: 1.2rem;
    }
  }
  
  /* Product page Search bar styles */
  .search-input-group {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
  }
  .search-form-control {
    border-radius: 30px 0 0 30px;
    border: 2px solid #17a2b8;
    padding: 22px 24px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .search-form-control:focus {
    outline: none;
    box-shadow: 0 0 5px #17a2b850;
    border-color: #17a2b8;
  }
  .search-input-group-append .btn {
    border-radius: 0 30px 30px 0;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    padding: 10px 25px;
    transition: all 0.3s ease;
  }
  .search-input-group-append .btn:hover {
    background-color: #117a8b;
    border-color: #117a8b;
  }
  .search-input-group-append .btn i {
    font-size: 14px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .search-input-group {
      max-width: 100%;
    }
    .search-form-control {
      font-size: 14px;
    }
    .search-input-group-append .btn {
      padding: 10px;
    }
    .search-input-group-append .btn i {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    .search-form-control {
      padding: 8px 15px;
      font-size: 14px;
    }
    .search-input-group-append .btn {
      padding: 4px 15px;
    }
  }