name: Update Repository structure

on:
  schedule:
    - cron: '0 * * * *'  # Run every hour
  workflow_dispatch:  # Allow manual triggering
  push:
    branches:
      # - main
      # Adding branch to check the feature on local repo first
      - auto 

jobs:
  detect-and-update-structure:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # Permission to the GitHub Bot to access and update the Project Repository 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGithub
      - name: Run update script
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python .github/scripts/update_structure.py   # Run the python script to create/update the repo sturcture

      - name: Commit and push if changed    # Commit and push changes to the head branch(main)
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com" 
          git config user.name "github-actions[bot]"
          git add . 
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update repo structure" && git push)